<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Collapse & Sinkholes</h1>
      <p><strong>Sinkhole/Earth Movement</strong></p>
      <p>
        A sinkhole is defined as a natural depression in a land surface that is interacting with a subterranean passage, 
        generally occurring in limestone regions and formed by solution or by collapse of a cavern roof. Sinkholes may occur naturally due 
        to dissolution of the limestone from acid rain formed by high Nitrates or carbonic acids from decaying plants. These acids dissolve 
        the limestone increasing the size of the pores and fractures.
      </p>
      <p>
        Watch for driveways or sidewalks with growing cracks, tight windows, doors that stick, cracks in the slab, or a section of your lawn 
        that is no longer growing and nothing seems to help the problem. These are all warning signs of a possible developing sinkhole.
      </p>
      <p>
        In the event that an insured suspects a sinkhole, an engineer will be employed to confirm the event. Unfortunately, these types of losses 
        typically result in the total loss of the dwelling and property. Even more unfortunate is the tendency of insurance companies to want to 
        make repairs of the damages as an alternative to paying out the policy limits to the insured.
      </p>
      <p>
        If the dwelling can be repaired the method chosen may make the difference of hundreds of thousands of dollars in your claim. 
        You will be best represented by EPIC approved professionals with experience and knowledge in this area.
      </p>
      <div class="well">
        <p><strong>
          When applied, the sinkhole endorsement of an insurance policy will cover the cost to “stabilize the land and building”, as well as repair the foundation
        </strong></p>
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>