<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Commercial</h1>
      <p><span><strong>Commercial Claims</strong></span><br>
        At Epic, we pride ourselves on our ability to handle and resolve large, complex commercial claims. Due to regulations, 
        all personal (homeowners and dwelling) policies are fairly similar in the language they use; meaning that they are 
        resolved in more or less the same manner.
      </p>
      <p>
        Even though there are “standard” policies in the commercial area, carriers are much freer to change these policies – 
        to add, remove, or enhance the coverage’s contained in the policies. Due to the diverse nature and requirements of one 
        business to another it is understandable that they would require policies specific to their needs.
      </p>
      <div class="well">
        <p>
          For this reason, insurance companies may also choose to utilize a “manuscript policy.” Typically, a manuscript policy 
          is written for a “one-of-a-kind” risk that requires specialized coverage or provisions.
        </p>
      </div>
      <p>
        The experts at Epic Group Public Adjusters are required to spend a minimum of 60 hours of intensive training and seminars 
        learning how to interpret these types of policies; including all statutes and laws regulating the coverage and responsibilities 
        of the insurance company. For more than 28 years we have built a reputation for handling complex business and commercial claims.
      </p>
      <div class="well">
        <p>
          EPIC has confidently guided some of the most prestigious companies throughout the Southeast and helped them achieve the most 
          accurate and fair settlements.
        </p>
      </div>
      <p>&nbsp;</p>
      <p><span><strong>We Cover Every Angle</strong></span><br>
        Has your business invested in new machinery or buildings? Is there a project you had to turn down due to the loss? Have there been 
        any recent innovations in the product category or in the marketplace? These examples could drastically change the potential 
        revenue for your business.
      </p>
      <p>
        In order to accurately project potential income, the history of your company must be thoroughly studied and analyzed. 
        Taking into consideration all of the “what ifs” and past investments, Epic Group Public Adjusters will employ the aid of forensic 
        accountants to piece the claim together to your best advantage.
      </p>
      <p>
        Insurance companies typically develop business models by plotting a meticulous time-line of past and future income. 
        The tendency of insurance companies is to look at your net income, taking it at face value along with the belief that no 
        business can continue to grow and profit indefinitely. Our experts, however, realize that while a past investment may diminish the 
        bottom line in the short term, it does not automatically constitute smaller returns for the future. We are aware that markets 
        fluctuate and opportunities, like customers, come and go.
      </p>
      <p>
        EPIC considers and reviews all aspects of your past business history to the moment the loss occurs and up to a year after your loss; 
        or until your sales and financial situation have returned to previous levels.
      </p>
      <p>&nbsp;</p>
      <p><span><strong>Business Interruption Coverage</strong></span><br>
        When a business suffers a loss, that business may have to stop operations or production. This can result in substantial lost revenues. 
        Companies with business interruption insurance are in the best position to defend their claim.
      </p>
      <p>
        With that said, lost revenue can be very difficult to prove. Forensic accountants use different methods to project lost earnings. 
        Establishing historical data is usually the key element and fair indicator of future earnings. But what if you have only been in 
        business one year, had a poor previous year, or expanded to a larger location? Historical data would be an inaccurate measure for your 
        business claim.
      </p>
      <p>&nbsp;</p>
      <p><span><strong>Wholesale/ Distribution</strong></span><br>
      Similar to any commercial claim, if a peril causes your business to perform under your usual means, you run the risk of losing investment 
      opportunities as well as current and potential clients.
      </p>
      <p>
        Not only is the insured responsible for proving their loss but they must also be aware of what is or is not covered by the policy and 
        how to fight for proper quantities of business income and extended business income if needed; all while keeping up the remaining 
        functioning aspects of the business.
      </p>
      <p>
        With such rigorous time constraints, every day counts and when your business is at stake, you cannot afford giving up any time 
        educating yourself on the claim process. You need experts to immediately begin proving and valuing your loss so that negotiations 
        with the insurance company can begin in a minimal amount of time.
      </p>
      <p>&nbsp;</p>
      <p><span><strong>Manufacturing</strong></span><br>
        Our professionals understand that with every day your company performs below its usual production after a loss, the threat of 
        losing customers grows greater. Like other commercial claims, when it comes to settling a loss, manufacturing companies all have 
        different needs and responsibilities that must be catered to in a highly time-sensitive manner.
      </p>
      <p>
        While considering the needs and responsibilities of your company, Epic Group Public Adjusters will become intimately familiar with 
        your insurance policy; knowing all of the ins and outs of its coverage while taking into account the vital time constraints ruling 
        over the claim process.
      </p>
      <p>
        In these types of claims also comes the threat of business income losses that must also be considered. When this is the case, 
        forensic accountants will be brought in to map out monies lost and extra expenses incurred up until the time that your business 
        is running at full production.
      </p>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>