<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>The Epic Advantage</h1>
      <p>
        EPIC works with many insurance adjusters and public adjusting companies. 
        For that reason, it is likely we have prior working experience with the adjuster assigned to your claim. 
        Knowing how an individual adjuster works or how an adjusting company processes claims is an invaluable resource 
        in the claims handling process.
      </p>
      <p>
        Experience has taught us what to expect. We know how to push the right buttons and, most importantly, 
        how to avoid the pitfalls that can slow down the process. Our sole objective is to arrive at the fairest 
        and most equitable settlement in the shortest time possible.
      </p>
      <p>In Florida,  there is about a:</p>
      <ul>
        <li>65% probability the EPIC has worked with adjuster assigned to your claim</li>
        <li>85% probability that EPIC has worked with the adjusting company assigned to your claim.</li>
        <li>93% probability the EPIC has worked with your insurance company</li>
      </ul>
      <p>
        Make no mistake, the EPIC team strives to settle every claim expeditiously, but NEVER at the expense of a lesser amount. 
        To the insured it may be a marathon instead of a sprint, but we have the strength and tenacity to run the distance 
        to achieve EPIC results in every recovery for all our clients.
      </p>
      <p>
        Remember: An Insurance Policy is a binding contract that forces your carrier to pay ALL damages occurring from a covered peril, 
        not just some. Make sure you don’t miss out on monies that you are contractually entitled to.
      </p>
      <p>&nbsp;</p>
      <p>
        <span><strong>Inventory Specialists</strong></span><br>
        We employ a team of highly qualified inventory specialists. Our people are experts at measuring, 
        scoping out the extent of damage, and estimating a building loss. It is a unique art; 
        as is establishing the repair or replacement value of contents.
      </p>
      <p>For example your damages may include:</p>
      <ul>
        <li>Art</li>
        <li>Personal Items</li>
        <li>Computers and other Technology</li>
        <li>Vehicles</li>
        <li>Equipment</li>
        <li>Wall Coverings</li>
        <li>Floor Coverings</li>
        <li>Window Treatments</li>
        <li>Furniture</li>
      </ul>
      <p>
        The valuation of contents (personal or business) can be more challenging than establishing replacement costs for a building. 
        In fact, it’s not unusual for the insured get lost with the true value of their possessions. 
        Emotional attachment is also a negative when appraising one’s own property
      </p>
      <p>
        EPIC’S inventory specialists have the know-how and training to recognize and establish both 
        the value and the replacement cost of any item
      </p>
      <p>&nbsp;</p>
      <p>
        <span><strong>How Inventory Specialists Can Help You!</strong></span><br>
        Knowing your options can save you from making the wrong decisions and exhausting policy limits 
        before you’re able to realize what truly needs to be done. Let the professionals at EPIC guide you 
        through the decision-making process to establish the best methods of repair/replacement for your loss.
      </p>
      <div class="well">
        <p>For Example… A Sofa Damaged by Fire</p>
        <p>&nbsp;</p>
        <p>
          CLEAN SOFA: $84 When evaluating damaged property, the first step is to determine the extent of the damage 
          and what is required to return it to its pre-loss condition. For example, if a home sustains a fire, 
          cleaning soot off of a sofa may leave the sofa clean, but the fabric may discolor or have a compromised life. 
          This does not make the policyholder whole.
        </p>
        <p>
          REPLACE: SOFA $1380 Accordingly, replacement may be required. The next step is to determine what the sofa was worth 
          and how much should be paid to replace it. Many replacement cost policies will pay the cost as if you were purchasing 
          the same sofa, in its current state; meaning that it is not worth the same as a sofa just from the manufacturer. 
          The insurance company then places an amount of depreciation to the property. This amount is often subjective and has 
          numerous factors that can affect the initial payout of the sofa.
        </p>
        <p>
          REPAIR/REUPHOLSTER of SOFA: $1600 Another factor is whether or not the property can even be replaced. 
          What if there is no identical match? What if the sofa is no longer manufactured? Often times one can consider 
          repairing the property for more than the cost of replacing it if it can be justified due to matching. 
          For example, if the damaged sofa belongs to a set that can not be matched, replacing one piece of the set will not do. 
          The sofa may be presented for repairing and reupholstering of the entire set. Each policy is different, and the language, 
          statutes and facts of each claim differs greatly form one claim to another. At EPIC, we utilize some of the 
          most experienced professionals in policy interpretation.
        </p>
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>