<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>The Epic Approach</h1>
      <p><span><strong>Personal Service with an Army of Support</strong></span><br>
        Epic adjusters routinely network together to keep a pulse on the industry buzz and exchange information with other professionals. 
        This networking results in invaluable knowledge and provides EPIC’S clients with cutting edge adjusting techniques. 
        This includes everything from detailed cross referencing of the latest unit price changes to the company specific trends, 
        as well as any corporate policy changes your insurance company may have recently made that could influence how your claim is settled.
      </p>
      <p>
        The adjusters at EPIC routinely hold group discussions for optimizing claim presentation strategy and performing interoffice background 
        assessments on the individuals that the insurance company assigns to handle their claims. This priceless information can only be 
        compiled through the numerous experiences of the adjusters at EPIC.
      </p>
      <p>Epic Group has FIRST HAND KNOWLEDGE of the Insurance Industry</p>
      <p><span><strong>Advocacy Through Adjusting</strong></span><br>
        Adjusting insurance claims is a highly subjective business. However, what sets us apart is our experience in interpreting 
        the language of an insurance policy along with EPIC’S extensive knowledge in construction and rehabilitation of properties, 
        both residential and commercial. From the moment you hire EPIC to the final settlement of your claim, we are with you 
        every step of the way.
      </p>
      <p><span><strong>Accurately Assessing Structural Damage</strong></span><br>
        Over 99% of the claims EPIC has adjusted have resulted in a substantial increase to the insurance company adjuster’s initial estimate of damage.
      </p>
      <p>Why?</p>
      <p>
        Simple. It’s EPIC’S thorough and comprehensive inspection process that sets us apart. An EPIC inspection looks BEYOND THE OBVIOUS. 
        This means we check everything — from testing wall cavities for moisture, looking for evidence of mold, analyzing structural failure 
        signs, to understanding the methodology needed for the appropriate repair or restoration.
      </p>
      <p>Have you considered…</p>
      <ul>
        <li>MOLD CONTAMINATION</li>
        <li>COMPROMISED EFFICIENCY</li>
        <li>SMOKE ODOR</li>
        <li>DISCOLORATION</li>
        <li>ELECTRICAL DAMAGE</li>
        <li>PRODUCT FATIGUE</li>
        <li>STRUCTURAL FAILURE</li>
        <li>WARRANTY CANCELLATION</li>
      </ul>
      <p>…EPIC does!</p>
      <p>
        For our clients to collect the maximum amount on their claim, EPIC only employs experienced and trained professionals 
        to inspect for hidden damage, assuring all the aspects of the damage are considered when presenting your claim.
      </p>
      <p>
        With our highly sophisticated computer software, we are able to instantly share information with adjusters 
        in our company database who have the right experience to deal with your particular claim.</p>
      <p>Q: What are pre-loss conditions?</p>
      <p>A: The condition of property or belongings prior to any damage inflicted by a covered loss.</p>
      <p>Q: My insurance company has sent me a check, but it does not cover my total damages. What can I do now?</p>
      <p>
        A: You are entitled to the maximum amount allowed in your policy. If the payment will not cover the damages, 
        Epic Group will file a supplemental claim to recover the full amount you are entitled to collect.
      </p>
      <p><span><strong>Attention to Detail : The Policy and the Property</strong></span><br>
        When it comes to getting your claim paid – and paid at the proper amount – the more detail you can give to the insurer, 
        the more you can collect. At EPIC we are extremely detail oriented.
      </p>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>