<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Ethical Standards</h1>
      <p><strong>
        The ethical standards set forth by Epic Group is the foundation for maintaining the trust of our clients. 
        Our team of experts vows to always operate within these set guidelines to deliver morally sound guidance 
        throughout the claims process.
      </strong></p>
      <p>
        Our Creed: “We will swiftly and ethically guide and assist our clients through the insurance claim process 
        in order to recover the maximum monetary compensation to which the insured is entitled under the policy.“
      </p>
      <div class="well">
         <h3>Rules of Professional Conduct & Ethics</h3>
         <p>
           All members of FAPIA are required to abide by the following Rules of Professional Conduct and Ethics. 
         This better enables us to ensure that our clients, members of the public, are able to receive proper and 
         ethical treatment at all times.
         </p>
         <ol>
          <li>The members shall conduct themselves in a spirit of fairness and justice to their clients, the Insurance Companies, and the public.</li>
          <li>Members shall refrain from improper solicitation.</li>
          <li>No misrepresentation of any kind shall be made to an insured or to the Insurance Companies.</li>
          <li>Commission rates shall be fair and equitable, and strictly in accordance with the prevailing laws or regulations of the Florida Insurance Department.</li>
          <li>
            Members shall conduct themselves so as to command respect and confidence. They shall work in harmony with one another, 
            with their clients, and the Insurance Companies’ representatives, so as to foster a cordial and harmonious relationship 
            with all branches of the insurance business, and with the general public.
          </li>
          <li>
            Members must be fitted, by the knowledge and experience, for the work they undertake. They must not endanger the 
            interests of the public adjusting profession, or risk injustice to insureds or to the Insurance Companies, by attempting 
            to handle losses or claims for which they are not qualified, and for which they cannot find competent technical assistance.
          </li>
          <li>Members shall not engage in the unauthorized practice of law.</li>
          <li>
            Members shall not acquire any interest in salvaged property or participate in any way, directly or indirectly, 
            in the reconstruction, repair, or restoration of damaged property, except with the knowledge, consent and permission of the insured.
            </li>
          <li>Members shall be cooperative and assist one another in every possible way.</li>
          <li>
            Members shall not disseminate or use any form of agreement, advertising, or any printed matter that is harmful to 
            the profession of public adjusting, or which does not comply with the rules and regulations of the Florida Insurance Department, 
            or which might subject public adjusting and public adjusters to criticism or disrespect.
          </li>
        </ol>
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>