<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Fire</h1>
      <p><strong>Fire Damage</strong></p>
      <p>
        All perils damage property differently and fire damage is no exception. Assessing fire damage claims requires 
        more specialized training and experience than most any other type of claim. Accordingly, Epic has the best trained 
        group of adjusters to understand how a fire, the smoke it creates, and the water used to extinguish it truly 
        affects a building and the property within.
      </p>
      <p>
        <span><strong>Q: </strong>Is a fire-damaged home ever the same?</span><br>
        <span><strong>A: </strong>
          Unfortunately, oftentimes, it is not. A lot depends on the restoration techniques and methodology used. Often smoke stained attics, 
          walls and ceilings are painted over with a product called KILZ. The use of this product is easily discovered upon the reselling of 
          your home and may negatively affect the resale value. Other issues to consider include the negative and corrosive effect smoke has 
          on electrical wiring, outlets, fixtures, machinery and appliances. Without complete replacement, one may be taking on the risk of 
          another fire due to failed electrical components. Lastly, smoke odor abatement is a science that requires considerable training 
          to perform and rarely is it ever 100% effective
        </span>
      </p>
      <p>&nbsp;</p>
      <p><strong>Odor Abatement</strong></p>
      <p>
        After a fire, we have found that the smoke causes nearly as much damage as the fire itself. It leaves its mark on everything including 
        furniture, walls, carpets, and clothing. Smoke can take on several different forms, depending on the material that is burning. 
        Carbon based, protein based, and oil based are among the most common. These different types of fires produce a specific smoke that will 
        require a variation in the cleaning method.
      </p>
      <p>&nbsp;</p>
      <p><strong>ASCR – Association of Specialists in Cleaning and Restoration</strong></p>
      <p>
        Along with a seasoned fire investigator, EPIC employs former restoration contractors with decades of experience in the fire restoration industry. 
        These experts have managed thousands of fire restoration projects throughout their employment and have earned designations by the 
        National Institute of Fire Restoration and the like; ensuring the most thorough and professional evaluation of your property.
      </p>
      <p>&nbsp;</p>
      <p><strong>Smoke Damage Remediation</strong></p>
      <p>
        Unfortunately, there is incredible subjectivity and differing opinion on the restorability of property damaged by the byproduct of fire – smoke.
      </p>
      <p>
        <span><strong>FACT: </strong></span>Smoke can be much more devastating than the actual fire due in part to its corrosive properties. 
        The most usual complication we encounter in fire damage claim adjusting is the age old question – can it be cleaned to pre-loss condition? 
        The answer is usually not and almost always, not cost effectively.
      </p>
      <p>
        When adjusting a fire damaged property, we have to consider the pre-loss condition of the property. EPIC will always advocate replacement of the 
        damaged property as opposed to repair, if we can not be assured that it will be restored to pre-loss condition. Many times, toxic smoke residues 
        can not be eliminated and will remain long after an attempt at cleaning has occurred. Ultimately this may compromise the life of the property cleaned 
        or may leave a pungent odor of smoke that lingers for years.
      </p>
      <div class="well">
        <p>
          <span><strong>SMOKE</strong></span> can be <span><strong>MORE DEVASTATING THAN FIRE</strong></span> to your property.
        </p>
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>