<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Flood Damage</h1>
      <p><span><strong>National Flood Insurance Program (NFIP)</strong></span><br>
        According to the NFIP, a flood is a general and temporary condition of partial or complete inundation 
        of normally dry land areas from overflow of inland or tidal waters or the unusual and rapid accumulation 
        of runoff by surface waters from any source.
      </p>
      <p>
        The NFIP states that two adjacent properties must be under water to call the situation a flood. 
        In rural areas, at least two acres must be submerged under water to call the situation a flood.
      </p>
      <p>
        Mudslides (i.e., mudflows) which are typically caused by a river of liquid and flowing mud on the 
        surfaces of normally dry land areas, including your premises.
      </p>
      <div class="well">
        <p><strong>Flood Claim Guidelines:</strong></p>
        <ul>
          <li>Photograph outside of premises, showing any damage or flooding.</li>
          <li>Photograph inside of premises, showing damaged property and height of water.</li>
          <li>Call your insurance agent to report the claim.</li>
          <li>If you have separate flood insurance, also call your flood insurance agent to report the claim.</li>
          <li>Your insurance agent will prepare a Notice of Loss form and an adjuster will be assigned to your claim.</li>
          <li>Separate damaged from undamaged property for the insurance adjuster’s examination.</li>
          <li>Mitigate the damage.</li>
          <li>Notify your insurance adjuster if you need an advance or partial payment of loss (good record-keeping will assist you in this process).</li>
        </ul>
      </div>
      <p>
        Damaged property, which presents a health hazard or which may hamper local clean-up operations should be 
        disposed of in a timely manner; be sure to adequately document discarded items so that, when the 
        insurance adjuster examines your losses and your records, these articles are included.
      </p>
      <p>
        Good records speed up the settlement of your claim. Compile a room-by-room inventory of missing or damaged goods, 
        and include manufacturer’s names, dates and places of purchases, and prices. Try to locate receipts or proof of purchases, 
        especially for major appliances.
      </p>
      <div class="well">
        <p><strong><span>Important Note: </span>
          It is important to be aware of the way you report a water damage loss to your insurance company. What you say initially can 
          affect the outcome of your claim. Many people believe that if their home or business is full of water, it is considered flooded. 
          However, this is not a ‘flood’ by the insurance definition. Although you may assume no harm in making this statement to your insurance company, 
          they can deny your claim the moment the word ‘flood’ is used as flooding is excluded from your standard homeowners’ or business owners policy.
        </strong></p>
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>