<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>How It Works</h1>
      <p>
        An insurance claim involves establishing a specific monetary value for each item lost; this determines the basis 
        for achieving an equitable settlement. The fact is that claim estimating is based on an adjuster’s subjective analysis, 
        making our business an art form as well as a science. Not all people will view damage in the same way. 
        An insurance claim involves establishing a specific monetary value for each item lost, and in turn determines the basis for 
        achieving an equitable settlement. Painting the perfect picture takes know-how, we have the experience and knowledge to 
        guide you through the process. 
      </p>
      <p>&nbsp;</p>
      <p>
        <span><strong>Documenting and Preparing an Insurance Claim </strong></span>
        <br>
        There are numerous factors to be considered when documenting and preparing an insurance claim. 
        When evaluating a loss, both the scope and the value of damages are established through subjective professional computation. 
        Rarely, if ever, does the insurance company’s calculations mirror the insured’s point of view. 
        Failure to understand these factors can mean the difference between a settlement that makes you whole and one that doesn’t.
      </p>
      <p>Epic has the opportunity to:</p>
      <ul>
        <li>Respond quickly to minimize processing time.</li>
        <li>Accurately assess all damages.</li>
        <li>Prepare complete and detailed reports of the affected property.</li>
        <li>Determine the most beneficial method for remediation.</li>
        <li>Properly document your claim.</li>
        <li>Ensure compliance with all terms and conditions of the policy.</li>
        <li>Calculate the financial aspects of your loss including business interruption and related extra expenses.</li>
        <li>Make recommendations as to what treatments should be employed in order to remedy the damages.</li>
        <li>Make sure that all policy provisions are met in order to maximize your settlement.</li>
      </ul>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>