<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Industrial</h1>
      <p><span><strong>Building Trade</strong></span><br>
        For subcontractors and other tradesmen, an accurate settlement for a home or business owner may ultimately determine 
        the extent of the work you are able to provide. When repairs are needed as a result of damage by a covered peril 
        and an insurance company does not make an appropriate settlement, projects may be manipulated or voided without proper funding. 
        For this reason, accurate and fair settlements not only benefit the owner of the property but all tradesmen involved as well.
      </p>
      <p><span><strong>Builders</strong></span><br>
        For companies and individuals in the building trade, holding insurance for builder’s risk is their greatest defense for 
        unforeseen occurrences throughout a projects’ life. The typical policy will provide coverage for the building while under 
        construction, such as:
      </p>
      <ul>
        <li>Supplies and materials</li>
        <li>Machinery and equipment</li>
        <li>Permanent fixtures</li>
        <li>The installation or alteration of a construction project</li>
        <li>Transportation to and from a temporary location</li>
      </ul>
      <p>
        Builder’s Risk Insurance is generally written for a specified amount on the building and applies only through the period of 
        construction. This coverage customarily includes fire as well as coverage for vandalism and malicious mischief and can be 
        extended to a “special” form as well.  
      </p>
      <div class="well">
        <p>
          Many of our professionals at EPIC are former contractors and tradesmen within the building trade. We have the knowledge to 
          relate to the situation and the experience to perform in order to meet industry standards and achieve the most equitable recoveries.
        </p>
      </div>
      <div class="well">
        <p>
          “Our 110,000 square foot distribution center suffered catastrophic damage to the roof and our policy did not cover upgrades 
          for building codes. EPIC proved we needed a new roof”
        </p>
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>