<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Investment Properties</h1>
      <p>
        In terms of investment property, the owner holds a tremendous amount of responsibility to its tenants. 
        Should the property sustain damage by a covered peril, the property owner will want to reverse the destruction 
        quickly to avoid loss of rent.
      </p>
      <p>
        When numerous units are involved, such as in a multi-family residence, the amount of work that goes into 
        proving the loss can be substantial. All units will be inspected and valued individually. Without the proper resources and 
        knowledge of what to look for, this can be one of the lengthiest processes in the settling of a claim.
      </p>
      <div class="well">
        <p>
          Epic Group Public Adjusters has effectively settled countless claims for investment properties while maintaining consideration 
          for property owners and their tenants.
        </p>
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>