<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Medical Facilities</h1>
      <p><span><strong>Medical Facilities</strong></span><br>
        For companies in medical fields their biggest concern is remaining available to its customers. At EPIC, we understand
        the importance of being there when you’re needed which is why we are confident that we are the best fit for you.
      </p>
      <p>
        Our adjusters are the most experienced in the industry. We take pride in our ability to put ourselves in the minds of 
        all parties we come into contact with in settling a claim; whether it’s the insured, insurance adjuster or other interested party. 
        Having the ability to predict actions before the circumstance occurs is a very powerful tool and we train our experts to 
        understand personality types.
      </p>
      <p>
        With a thorough understanding of the needs of everyone involved, the professionals at EPIC are able to guide our clients through 
        the smoothest recovery process possible.
      </p>
      <div class="well">
        <p>
          “We really felt like we had an advocate working tirelessly on our behalf. Thank You to the EPIC Team!”
        </p>
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>