<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Multi-Causation</h1>
      <p><strong>Multi-Causation Claims</strong><br>
        A multi-causation claim is one that involves damage made by more than one covered peril. Each insurance company is responsible 
        for the damages linked to each peril. It sounds simple but in these instances, claims are resolved on a case-by-case basis due 
        to the difficulty in deciphering what damage should be paid for under which policy.
      </p>
      <p><strong>Windstorm with Flood: Proving Your Loss under Two Policies</strong><br>
        These claims are some of the most difficult and frustrating to resolve. How do you prove your loss under each policy and how do you 
        avoid the aggravation of dealing with two claims at once? As a company capable of successfully handling thousands of claims simultaneously, 
        you can trust the experts at EPIC to accurately assess your damages and achieve the most equitable settlement for your loss.
      </p>
      <div class="well">
        For Example: A home or business suffers both wind damage and flooding by a hurricane. You have both windstorm and flood insurance. 
        At what point did the flooding end and wind damage begin? What happens when flooding saturates the ground and weakens your foundation and when combined with wind, 
        your house collapses? Which policy covers the damages?
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>