<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Other Perils</h1>
      <p><span><strong>Vehicle Impact</strong></span><br>
        Your typical insurance policy will protect a dwelling from vehicle impact. If by chance, someone drives through your living room, 
        office lobby or the window of your retail storefront, the insurance policy should cover the damages incurred.
      </p>
      <p><span><strong>Bats</strong></span><br>
        Thousands of homes and businesses are damaged every year not from storms or other unforeseen accidents, but by animals. 
        Most people are aware that insurance policies typically do not cover damage caused by rodents. If this is the language used in 
        your policy provisions your insurance company may be liable for the cost of repairs and may also cover the cost to have the 
        bats removed, as bats are classified as mammals – not rodents.
      </p>
      <p><span><strong>Raccoons</strong></span><br>
        As previously stated, standard insurance policies do not cover damage from some insects or rodents. However, due to specie 
        classifications, you can expect to be covered if a raccoon, skunk or other wild animal wreaks havoc in your home. 
        These types of claims can be potentially devastating to a dwelling; animal droppings and other excretions not only pose health 
        risks but can be difficult to properly clean without replacing the effected ceiling, floor or walls.
      </p>
      <p><span><strong>Stupidity Is Covered</strong></span><br>
        In our years of business we have often come across property owners that have mistakenly inflicted damage to their homes. 
        When one of our clients backed through his garage in his hurry to make it to work on time, EPIC helped him retrieve the proper 
        settlement from his insurance company to repair the mess.
      </p>
      <p><span><strong>Terrorism</strong></span><br>
        Prior to 9/11, standard commercial insurance policies typically included coverage for terrorism, effectively free of charge. 
        Today, however, terrorism coverage is generally offered separately at a price that is more reflective of the current risk.
      </p>
      <p><span><strong>Trauma</strong></span><br>
        Crimes and unfortunate accidents can sometimes happen in unexpected places requiring someone to take care of the mess. 
        In situations where blood or other hazardous fluids may have saturated a dwelling, professional trauma scene cleanup companies 
        may be called in. The expenses to restore a building after one of these regrettable incidences are generally covered by your 
        standard insurance policy.
      </p>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>