<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Our People</h1>
      <p><strong>
        The Epic Team: Making a Difference for Thousands of Families and Businesses
      </strong></p>
      <p>
        As one of North America’s largest and most experienced professional Public Adjusting firms,
        we can offer you a distinct advantage over smaller, less financially sound public adjusters. 
        We have the size and the expertise to represent all plausible claims. Simply stated – 
        we are the premier public adjusting firm.
      </p>
      <img align="left" src="http://epicgrouppa.com/wp-content/uploads/2011/03/group_of_business_people-682x1024.png" alt="" width="294" height="442">
      <ul>
        <li>We’ll fit you with a member of our team who is most familiar with your type of claim and your individual needs.</li>
        <li>Every member of the EPIC GROUP team is 100% committed to helping you receive the maximum, fair and just claim settlement.</li>
        <li>All EPIC GROUP adjusters are state certified, licensed and bonded.</li>
        <li>
          EPIC has an ongoing commitment to continuing education that keeps our team up-to-date with current industry guidelines.</li>
        <li>
          EPIC’S proprietary software stores all documentation of claims, provides a library of historical data 
          and enhances the company’s ability to communicate quickly.
          </li>
      </ul>
      <p><strong>
        As your personal representative, EPIC GROUP agrees to:
      </strong></p>
      <ul>
        <li>Review your insurance policy in order to associate your damages to your available coverages.</li>
        <li>Properly quantify, document and submit a precisely detailed estimate of what is required to repair or rebuild your property.</li>
        <li>
          Assist you in the preparation of inventories on your damaged personal or business property, contents, 
          and related items. With your help in providing correct documentation, and determining ages and descriptions, 
          EPIC can evaluate and determine the approximate current market values.
        </li>
        <li>Prepare your Time Element Losses such as Additional Living Expenses, Business Interruption, or Loss of Rents.</li>
        <li>Establish a professional line of communication with the insurance company’s adjuster.</li>
        <li>
          Meet with the insurance company to negotiate and adjust your claim fairly and equitably – 
          thus resulting in the best possible settlement to you.
        </li>
        <li>
          Your EPIC GROUP adjuster will work for you personally and 
          represent your best interests at all times and is committed to an open line of communication.
        </li>
        
      </ul>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>