<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Our Commitment</h1>
      <p><strong>We strive to provide:</strong></p>
      <ul>
        <li><span><strong>EPIC</strong></span> results in <span><strong>EVERY</strong></span> recovery</li>
        <li>Ongoing education and training to keep the EPIC team ready to respond with workable solutions for our clients</li>
        <li>The most capeable group of support personnel and adjusters</li>
        <li>Steady growth and financial stability</li>
      </ul>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>