<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Our Company</h1>
      <p>
        We are one of the largest organizations in the public adjusting industry. 
        Every member of our team is a skilled and service-dedicated professional 
        focused on providing tailor made solutions that result in the quickest recovery 
        of your lost assets. With EPIC, you get a team of professionals who will fight for 
        results on your behalf until a satisfactory settlement is reached.
      </p>
      <p>
        As a client, we want you to feel comfortable communicating with your EPIC representative 
        and confident in their professional guidance. After all, sustaining a loss is a 
        traumatic experience. You deserve an advocate who will empathize with your situation 
        and defend your well-being. It’s no wonder virtually every client becomes a life-long friend.
      </p>
      <p>
        The network of adjusters that make up Epic Group Public Adjusters serves clients nationwide. 
        As a recognized company throughout the industry, we consistently deliver “Epic Results” in 
        every recovery. This standard of excellence is the foundation of our organization and transcribed 
        in our mission statement:
      </p>
      <p><strong>
        WE WILL SWIFTLY AND ETHICALLY GUIDE AND ASSIST OUR CLIENTS THROUGH THE INSURANCE CLAIM PROCESS IN 
        ORDER TO RECOVER THE MAXIMUM MONETARY COMPENSATION TO WHICH THE INSURED IS ENTITLED UNDER THE POLICY.
      </strong></p>
      <p>
        Our mission statement serves as our promise to our clients. Each of our adjusters has been hand-selected 
        based on their experience, character and capacity to be the best in the industry. With nearly three 
        decades in operation, Epic Group has built a strong network among some of the community’s most recognized 
        industry professionals, guaranteeing the most accurate claims values.
      </p>
      <p>
        We invite you to learn more about our team and to call us in your time of need to schedule your free inspection
        and consultation with one of the most reliable experts in the industry today.
      </p>
      <h1>Our Services</h1>
      <ul>
        <li>We’ll perform an initial inspection at the site of the loss immediately upon being notified.</li>
        <li>We will review your insurance policy.</li>
        <li>We will quantify and value your damage accurately.</li>
        <li>We will meet with your insurance company’s adjuster and present your claim in the best light.</li>
      </ul>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>