<div class="container">
  <div class="row">
    </div class="col-md-9">
      <h1><strong>The Power of Epic</strong></h1>
      <h3><strong>A Company with the Financial Strength to Stand by You</strong></h3>
      <p>
        EPIC’S financial strength gives us a tremendous advantage over the typical one or two person public adjusting company. 
        Our financial stability also allows us to employ the best talent for quantifying your claim and gives EPIC the staying 
        power to remain focused on obtaining the maximum possible settlement for our clients. Unlike the majority of smaller 
        and under capitalized public adjusting firms, we are under no pressure to settle to collect our fee.
      </p>
      <p>
        EPIC does not impose any quotas on adjusters and will not barter the settlement of your claim with others. 
        EPIC’S size and stability provides all the resources needed to stay in business and patiently negotiate 
        the monetary recovery our clients deserve.
      </p>
      <p>
        For the EPIC team, the proper settlement of your claim is our most important objective and the number one reason 
        we have remained in business for more than two decades. We know that properly evaluating your policy coverage, 
        thoroughly documenting all the details of the loss, accurately valuing your loss, and effectively negotiating 
        the claim with your insurance company can be a lengthy and arduous process. No problem – every member of 
        the EPIC team is passionate about serving our clients beyond their expectations. Simply put, 
        EPIC works harder and smarter in our mission to be the best.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h3><strong>The Epic Name Makes a Difference</strong></h3>
      <p>
        Insurance companies are aware that EPIC adjusters know the true value of your claim and that we have both 
        the resources and the means to wait for a fair and equitable settlement. They also know that we will 
        skillfully assist our clients every step of the way. It’s a reputation we have built over the past twenty years. 
        We’re proud of the high standards and results we’ve achieved for thousands of clients.
      </p>
      <p>
        In the personal and business property insurance claim industry, the name Epic Group is a recognized company and is synonymous with:
      </p>
      <ul>
        <li><strong>Experience</strong></li>
        <li><strong>Professionalism</strong></li>
        <li><strong>Integrity</strong></li>
        <li><strong>Communication</strong></li>
      </ul>
    </div>
  </div>
</div>
<div class="container"></div>
  <div class="contact-gif row">
    <div class="pull-right col-md-3">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>
</div>

