<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Residential</h1>
      <p><strong>
        Your Home Is Your Largest Investment; Let EPIC Help You Protect It
      </strong></p>
      <p><span><strong>Residential Single-Family </strong></span><br>
        A damaged home can have a substantial impact on your life. Not only do finances become stressed as you unload large sums to 
        contractors but your focus becomes engulfed with the anxiety of rebuilding your home and finances to what they had been prior 
        to your loss. Countless homeowners fail to collect the full settlement amount recoverable simply because they are not aware of the 
        ins and outs of the claim process. This adds to your loss and equates to more money out of your own pocket. No claim is too small. 
        If our guidance will be beneficial to you in settling your claim, we won’t turn you down. At EPIC, we understand that big or small, 
        a person’s home is their largest investment and the financial burden and stress is felt just as much on a small claim as it is on a 
        larger one.
      </p>
      <div class="well">
        <p>
          Typically, the recovery amount for home owners settling a claim on their own is only about 40% of what they are actually entitled to.
        </p>
      </div>
      <p>&nbsp;</p>
      <p><span><strong>Residential Multi-Family</strong></span><br>
        Multi-family residences normally involve more complex estimates than a single residence home. Whether or not these dwellings 
        have a homeowners’ policy they must still be built to commercial code. This brings into affect additional state statutes and 
        codes that would not typically be considered in a standard homeowners claim. Most adjusters are not immediately aware that this 
        is the case and is a common mistake resulting in a severely underpaid claim.
      </p>
      <div class="well">
        <p>
          Numerous professionals working for EPIC are or have been licensed general contractors and are aware of all rules and 
          regulations presiding over these types of claims.
        </p>
      </div>
      <p>
        Also needing to be considered is the fact that each unit may have varying appliances, flooring, cabinetry and furniture. 
        All must be accounted for in order to correctly detail an estimate. This fact is typically overlooked by rushed or careless 
        adjusters and may cost the insured thousands of dollars out of their own pocket. 
      </p>
      <p>&nbsp;</p>
      <p><span><strong>Condominiums</strong></span><br>
        Condominium claims are one of the most extensive and time-consuming claims we deal with. However, with a success rate of virtually 100%, 
        our experts have learned to understand the needs of the association, its board of directors, and its unit owners or tenants. 
        In fact, Epic has learned that these claims require such an extensive amount of coordination that we have formed a 
        <span>Property Managers Program</span> unique to the industry. A custom-tailored program, our PMP enables us to cater to the specific 
        needs of the property and to coordinate communication; requiring a significant amount of skill and experience. The experts involved in 
        the program continually assemble to discuss any changes in laws and the industry so that we can guarantee our clients the most efficient recovery process. 
      </p>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>