<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Retail</h1>
      <p><span><strong>Retail Industry</strong></span><br>
        When damage is incurred by a covered peril to one of our clients in the retail industry we understand the desperation 
        they go through in order to recover as quickly as possible. Especially for smaller stores, remaining financially stable when 
        forced to close their doors for an unknown period of time, can be the most difficult and frightening time.
      </p>
      <p><strong>
        The professionals at Epic are familiar with your policy and know how to navigate the claim process in order to best cut back the time 
        it takes to receive the most fair and equitable settlement.
      </strong></p>
      <div class="well">
        <p>
          “Thank goodness my plumber referred me to Epic. My tenants were threatening to leave my shopping center because of extensive water damage.”
        </p>
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>