<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Service Industry</h1>
      <p>
        Being in the service industry ourselves makes it easy for our adjusters to relate with fellow associates within this line of business. 
        We realize that there are clients depending on your services and not being able to cater to that need can be potentially devastating 
        to not only your business but to your clients as well.
      </p>
      <div class="well">
        <p>
          “Our loss occurred in Hurricane Wilma in October of 2005. We had a full production print and graphics shop. We got ten times more than offered.”
        </p>
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>