<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Success Stories</h1>
     <img title="Under-Construction" src="http://epicgrouppa.com/wp-content/uploads/2011/03/Under-Construction.png" alt="" width="600" height="200">
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>