<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Have You Suffered Damage?</h1>
      <p><span><strong>Protecting and Restoring Your Home or Business after a Loss</strong></span><br>
        Accidents happen. So do storms and other disasters. When damage is inflicted by one of these perils 
        to your home or business you naturally put in a call to your insurance company who in turn sends over 
        one of their adjusters. This adjuster will survey the extent of the damage, determine values of 
        your property and offer a settlement based on the provisions in your policy. For many people, 
        this is the end. They receive a check from their insurance company and begin the rebuilding and 
        repairing process with the funds they received. But is this amount enough to fairly and fully cover all 
        of your incurred costs?
      </p>
      <p>The average person has never read their insurance policy and is not aware that exclusions and limitations 
        exist that preside over their policy set by state law and regulation. Having a good insurance policy and 
        relying on your insurance adjuster’s analysis is typically not enough. How many home and business owners 
        fully understand their insurance policies and how can they be sure they received all that was justly due?
      </p>
      <p>
        What’s more, many insured’s often do not realize that they are personally responsible for proving their claim 
        by submitting estimates, providing detailed inventories of their damaged personal property and presenting documentation 
        and evidence of their claim. Resolving even the smallest claims can prove to be a very tedious and lengthy process.
      </p>
      <p>
        This is where public insurance adjusters are able to offer assistance. Public adjusters are professionals, 
        licensed and bonded by the state to represent the insured’s best interests. These individuals work strictly 
        for the insured they represent by compiling documentation, utilizing licensed engineer and contractor reports, 
        preparing a precisely detailed estimate of what is required to properly repair property and belongings and 
        negotiating a fair and equitable settlement on the insured’s behalf.
      </p>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>