<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Windstorms & Hurricanes</h1>
      <p><strong>How to Properly Evaluate and Assess Damage Resulting from Windstorms.</strong></p>
      <p>
        We manage thousands of claims with detail and accuracy while maintaining personal attention to each client’s claim.
      </p>
      <p>
        Hurricane claims are some of the most complicated due to the numerous factors contributing to potential devastation that can 
        damage your home in ways you are not aware of . Hidden damages are a vital part of the claim recovery process and if ignored or missed, 
        can cost the insured hundreds and thousands of dollars in years to come.
      </p>
      <p>
        Unfortunately, insurance companies are generally not monitored as closely by the state in the time following a disaster because of the 
        overwhelming number of needs and responsibilities that must be met.
      </p>
      <p>
        During these times, insurance companies often do not have the man-power to deal with the immense amount of claims being filed.
      </p>
      <p>
        Catastrophe adjusters are normally from out-of-state and are unfamiliar with your states’ requirements. This combined with the fact 
        that most of these “CAT” adjusters have no experience in recovering losses are potentially devastating to both home and business owners in 
        their most desperate time of need.
      </p>
      <div class="well">
        <p>
          <span><strong>DID YOU KNOW?</strong></span> The cost of exterior painting is not included in most commercial policies. 
          The majority of insurance companies will cover the costs to repair the damaged portions of a wall but will not pay to have the wall 
          re-textured or painted.The cost of exterior painting is not included in most commercial policies. The majority of insurance companies 
          will cover the costs to repair the damaged portions of a wall but will not pay to have the wall re-textured or painted.
        </p>
      </div>
      <p>
        In wind damage claims (predominantly caused by hurricanes) there will almost certainly be water damage that comes with it. One of the most 
        difficult factors presiding over windstorm claims is in knowing how to separate the wind damage from the flood damage and determining any 
        pre-existing conditions. Epic adjusters have been trained to recognize the difference and effectively separate the damages in order to maximize 
        your recovery.
      </p>
      <p>
        Two of the most intense and destructive hurricanes in history devastated the southern United States during the 2005 Hurricane Season. 
        Together, Hurricanes Wilma and Katrina accumulated nearly $100 billion in estimated property damages
      </p>
      <p>
        Nearly as devastating as the storms themselves was the short time span between them. Many of EPIC’S clients were unable to receive settlements in 
        time to make the necessary repairs to their homes before Wilma made landfall. The damaged homes were therefore more susceptible to further damage 
        given their weakened state. This put a strain on the insurance industry causing substantial damage that needed immediate attention to tens of thousands 
        of homes and businesses.
      </p>
      <div class="well">
        <p>
          Epic Group <span><strong>SUCCESSFULLY</strong></span> handled more than <span><strong>7,700 CLAIMS</strong></span> during the 2004-2005 Hurricane Season
        </p>
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>