<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Houses of Worship</h1>
      <p><span><srong>Churches/ Synagogues</srong></span><br>
        Through the successful handling of hundreds of claims concerning religious assemblies, Epic Group Public Adjusters has gained 
        tremendous insight and knowledge in the needs and duties of these organizations.
      </p>
      <p>
        Our professionals have all been educated in the unique building and design that applies to a majority of these structures; 
        enabling your adjuster to better find hidden damages that could end up costing you hundreds of thousands of dollars down the 
        road if not discovered.
      </p>
      <p>
        The responsibilities you have to your congregation are also considered in the handling of your claim. Our adjuster will resolve 
        your claim in the most time-effective manner in order to reunite your organization with its community.
      </p>
      <div class="well">
        <p>
          “After a devastating fire EPIC came in and swiftly assessed our damage and took the lead in securing funds to rebuild our church.”
        </p>
      </div>
    </div>
    <div class="col-md-offset-9">
      <%= link_to( image_tag("http://epicgrouppa.com/wp-content/uploads/2011/04/Contact-Us-Banner.gif"), image_path( contacts_path) ) %>
    </div>
  </div>  
</div>